<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-main-heading c-list">
          <span class="title">Contacts</span>
        </div>
        <div class="panel-heading c-list">
          <span class="title">FAVORITE CONTACTS</span>
        </div>
        <ul class="list-group" id="contact-list">
          <li *ngFor="let contact of (favoriteContacts$ | async)" class="list-group-item">
            <a (click)="accessContactDetail(contact.id)">
              <div class="col-xs-12 col-sm-3">
                <img src="../../assets/userIconLarge3x.png" class="img-responsive" />
              </div>
              <div class="col-xs-12 col-sm-9 name">

                  <div class="media">
                      <div class="media-left topAdjustment">
                        <img src="../../assets/FavoriteTrue1x.png" class="media-object">
                      </div>
                      <div class="media-body">
                        <h4 class="name">{{contact.name}}</h4>
                        <p class="text-muted">{{contact.companyName}}</p>
                      </div>
                    </div>
                <!-- <span class="name">{{contact.name}}</span>
                <br/>
                <span class="text-muted">{{contact.companyName}}</span>
                <br/> -->
              </div>
              <div class="clearfix"></div>
            </a>
          </li>
        </ul>
        <div class="panel-heading c-list">
          <span class="title">OTHER CONTACTS</span>
        </div>
        <ul class="list-group" id="contact-list">
          <li *ngFor="let contact of (nonFavoriteContacts$ | async)" class="list-group-item">
            <a (click)="accessContactDetail(contact.id)">
              <div class="col-xs-12 col-sm-3">
                <img src="../../assets/userIconLarge3x.png" class="img-responsive" />
              </div>
              <div class="col-xs-12 col-sm-9 name">
                <span class="name">{{contact.name}}</span>
                <br/>
                <span class="text-muted">{{contact.companyName}}</span>
                <br/>
              </div>
              <div class="clearfix"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>