body {
    padding: 30px 0px 60px;
}

@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

.c-list {
    padding: 0px;
    min-height: 44px;
}

.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}

.name {
    font-size: 1.3em;
    font-weight: 350;
    padding-top: 10px;
}

.panel-main-heading {
    height: 80px;
    color: #333;
    background-color: #ccc;
    border-color: #ddd;
    text-align: center;
    padding-top: 30px;
}

img, p {
    display:inline-block;
}

#contact-list li { 
    padding-left: 0px; 
}

#contact-list li a { 
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%; 
}